<html>
	<head>
		<link href="assets/css/test.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>

		<div id="wrapper">
			<div id="header">
				<div class="container">
					<a href="#" class="logo-icon">
						<img src="https://raw.githubusercontent.com/TonyCheng2016/MERN-HW/master/hw4/images/logo.png" width="300" align="left">
					</a>

					<ul class="menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="service.html">Service</a></li>
						<li><a href="works.html">Works</a></li>
						<!--<li><a href="news.html">News</a></li>-->
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				<div align="center"><h2 class="title">人生以服務為目的，而不以奪取為目的。------孫文</h2></div>
				<div class="paragraphy">

					<p>平時喜好閱讀，對數學最有心得。假日到附近學校操場運動，對於電影、下棋亦有相當喜好，常可利用這些休閒活動，抒解壓力，提升性靈。網路是我蒐集資料的好地方，平時也會上網瀏覽，尋找資料。「誠懇」、「踏實」、「與人為善」的人格特質，則是我「得到多助」的特長。
					</p>
				</div>
					<div  class="homeimg" >
						
						<h1>To-Do List</h1>
						<% if (userinfos.length) { %>
						<ul>
						
						<% userinfos.forEach(function(userinfo){ %>
							
							<li><input type="checkbox" name="todolist" value="list">
							<label>行程: </label> <%= userinfo['schedule'] %>   
							<label> Contact User:  </label>
							<label> 姓氏 </label>  <%= userinfo['firstname'] %>  
							<label> 名字 </label>  <%= userinfo['lastname'] %></li><hr>
							<% }) %>
						</ul>
						<% } %>	
					</div>	
					
			</div>	
			<div id="footer">
				<div class="section">
					<h4>Latest News</h4>
					<p>
						
					</p>
				</div>
				<div class="section">
					<h4>Contact Us</h4>
					<p>
						<span>Address:</span>
						Taipei Neihu
					</p>
					<p>
						<span>Phone:</span>
						0937922587
					</p>
					<p>
						<span>Email:</span>
						s110219004@stu.ntue.edu.tw
					</p>
				</div>
				<div class="section">
					<h4>SEND US A MESSAGE</h4>
					<p>
						
					</p>
					<a href="contact.html" class="subscribe">Click to send us an email</a>
				</div>
			</div>
			<div id="footnote">
					<div class="connect">
							<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
					</div>
						<p>
							鄭裕勳 © Copyright 2015  05 110219004 Cheng Yu Hsun All Rights Reserved.
						</p>
			</div>
		</div>

	</body>
</html>
