<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cheng Yu Hsun Website</title>
<link rel="stylesheet" type="text/css" href="assets/css/test.css"/>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type "text/javascript" src="assets/js/script.js"></script>

</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div class="container">
				<a href="#" class="logo-icon">
					<img src="">
				</a>

				<ul class="menu">
					<li><a href="index.html" onclick='ClickTab("0")'>Home</a></li>
					<li><a href="about.html" onclick='ClickTab("1")'>About</a></li>
					<li><a href="service.html" onclick='ClickTab("2")'>Service</a></li>
					<li><a href="works.html">Works</a></li>
					<!--<li><a href="news.html">News</a></li>-->
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
				<div class="introduce"><p><span>數字倒數</span><br>這是一個自動倒數裝置，從數字7開始倒數到數字0，配合按鈕能顯示一個笑臉，然後按一下顯示笑臉，按第二下就回到倒數的狀態，其中讓數字0往下移動，得知要重新開始數數。</p>
					<p><span>ios 熱門文章</span><br>1.主畫面，利用TABLEVIEW中的表格放置圖片及文字，頁面的切換是利用轉場效果，使用者點選後便進入下一個畫面<br>
					2.使用者點選之後，便看到幾十個主題，點選有興趣或吸引你的標題，可以自動連結到文章<br>
					3.這樣便能快速瀏覽熱門文章，得知今天發生的大小事，結合捲動頁面的功能，瀏覽完畢後可以點選上面的回列表回到上一頁，讓使用者方便操作<br></p>
</div>
				<div class="abgne_tab">
			    <ul class="tabs">
			      <li><a href="#tab1">數字倒數</a></li>
			      <li><a href="#tab2">ios 熱門文章</a></li>
			      <li><a href="#tab3">arduino 防盜背包</a></li>
			    </ul>
			    <div class="tab_container">
			      <div id="tab1" class="tab_content">
			      	
			        <iframe width="854" height="510" src="https://www.youtube.com/embed/zHuetvpGyDQ" frameborder="0" allowfullscreen></iframe>
			      </div>
			      <div id="tab2" class="tab_content">
			      	
			      	<iframe width="854" height="510" src="https://www.youtube.com/embed/6Uh2fLDBjRY" frameborder="0" allowfullscreen></iframe>
			        
			      </div>
			      <div id="tab3" class="tab_content">
			      	
			        <iframe width="854" height="510" src="https://www.youtube.com/embed/74ObP3E-0O0" frameborder="0" allowfullscreen></iframe>
			      </div>
			    </div>
  </div>
		</div>
		<div id="footer">
			<div class="section">
				<h4>Latest News</h4>
				<p>
					
				</p>
			</div>
			<div class="section">
				<h4>Contact Us</h4>
				<p>
					<span>Address:</span> Taipei Neihu
				</p>
				<p>
					<span>Phone:</span> 0937922587
				</p>
				<p>
					<span>Email:</span> s110219004@stu.ntue.edu.tw
				</p>
			</div>
			<div class="section">
				<h4>SEND US A MESSAGE</h4>
				<p>
					
				</p>
				<a href="contact.html" class="subscribe">Click to send us an email</a>
			</div>
			
		</div>
		<div id="footnote">
				<div class="connect">
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
					</div>
					<p>
						鄭裕勳 © Copyright 2015  05 110219004  Cheng Yu Hsun All Rights Reserved.
					</p>
		</div>
	</div>
	
</body>
</html>
